HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!/src/main//target/
!/src/test//target/

.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!/src/main//build/
!/src/test//build/

IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
workspace.xml
uiDesigner.xml
encodings.xml
checkstyle-idea.xml
IndividualTasks.iml

application-*.properties